@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-image: url('/site-background.webp');
	background-repeat: repeat;
	background-size: 420px 420px;
	background-attachment: fixed;
}

